<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Profile
        </div>
        <div class="panel-body">
            <%= simple_form_for [@user, @profile] do |f| %>
                <%= f.error_notification %>
                <%= f.input :first_name, placeholder: 'First Name', error: 'First name is mandatory' %>
                <%= f.input :last_name, hint: 'Last Name' %>
              
                <%= f.input :address1 %>
                <%= f.input :address2 %>
              
                <%= f.input :city %>
                <%= f.input :state %>

                <%= f.input :zipcode %>
                <%= f.input :phone %>

                <%= f.submit %>
            <% end %>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
