<div class="container">
  <div class="row">
    <div class="col-xs-4 col-md-8 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Children
        </div>
        <div class="panel-body">
          <%= simple_form_for [@user, @child] do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          
          <%= f.input :name %>
          
          
            <%= f.input :birthday, start_year: 1950 %>
          

          <div class="form-group col-lg-12">
            <%= f.submit %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
