<div class="container">
  <div class="row">
    <%= render "form" %>
  </div>
  <div class="row">
      <% @committees.each do |committee| %>
      <h3><%= committee.name %>
      <h5><%= link_to "Edit", edit_admin_committee_path(committee.id) %></h5>
    </h3>
      <br />
      <br />
      <% committee.users.each do |committee_member| %>
        <%= committee_member.profile.first_name %> <%= committee_member.profile.last_name %>
        <% end %>
        <hr />
      <% end %>
  </div>

</div>
