<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Children in club by ages
    </div>
    <div class="panel-body">
      <% if separate_ages %>
        <p>Number of kids age 0-2: <%= age0to2 %></p>
        <p>Number of kids age 3-5: <%= age3to5 %></p>
        <p>Number of kids age 6-12: <%= age6to12 %></p>
        <p>Number of kids age 13-17: <%= age13to17 %></p>
        <p>Number of Adult Multiples: <%= age18plus %></p>
      <% end %>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class="panel panel-default">
    <div class="panel-heading">
      Number of multiples
    </div>
    <div class="panel-body">
      <% if multiplecount %>
      Twins: <%= twins %>
      <br />
      Triplets: <%= triplets %>
      <% end %>

    </div>
</div>
