<div class="row">
  <table class="table">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Address2</th>
      <th>City</th>
      <th>Phone</th>
      <th>Role</th>
      <th>Update Membership</th>
      <th>Delete </th>
    </tr>
    <tbody>
      <% @users.each do |member| %>
      <tr>
        <% if member.profile %>
        <td><%= member.profile.first_name %></td>
        <td><%= member.profile.last_name %></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
        <td><%= member.email %></td>
        <% if member.profile %>
        <td><%= member.profile.address1 %></td>
        <td><%= member.profile.address2 %></td>
        <td><%= member.profile.city %></td>
        <td><%= member.profile.phone %></td>
        <% else %>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <% end %>
        <td><%= member.role %></td>
        <td><%= link_to "Approve Member", admin_make_user_path(id: member.id), :class => "btn btn-default" %></td>
        <td><%= link_to "Delete", admin_destroy_user_path(member.id), method: :delete %>
      </tr>
      <% end %>
    </tbody>
    <br />
  </table>
</div>
