<div class="container">
  <div class="row">
    <h1>All Members</h1>
  </div>
  <div class="row">
    <table class="table">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Address2</th>
        <th>City</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Update Membership</th>
      </tr>
      <tbody>
        <% @user.each do |member| %>
        <tr>
          <td><%= member.profile.first_name %></td>
          <td><%= member.profile.last_name %></td>
          <td><%= member.email %></td>
          <td><%= member.profile.address1 %></td>
          <td><%= member.profile.address2 %></td>
          <td><%= member.profile.city %></td>
          <td><%= member.profile.phone %></td>
          <td><%= member.role %></td>
          <td>

            <% if member.admin? %>
            <%= link_to "Make User", admin_make_user_path(:id => member.id), :class => "btn btn-default" %></td>
            <% else %>
            <%= link_to "Make Admin", admin_make_admin_path(:id => member.id), :class => "btn btn-default" %></td>
            <% end %>
        </tr>
        <% end %>
      </tbody>
      <br />
    </table>

    <%= link_to "Export users as spreadsheet", admin_memberspreadsheet_path(format: "xlsx") %>
  </div>
</div>
