<!DOCTYPE html>
<html>
  <head>
    <title>Clubs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="navbar-text">Welcome, <%= current_user.email %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>

      </div>
    </nav>
    <%= yield %>
  </body>
</html>
